node_modules
allure-report
combined.log
error.log
.idea
../.idea
tests/reports/output/html/*.html
tests/reports/output/json/*.json
tests/reports/output/performance/*
tests/reports/output/Evidence/*
tests/reports/selenium-server-logs
tests/reports/output/allure-results/*
mockserver.log
*.temp
.idea/workspace.xml
../seleniumLog.txt
../../seleniumLog.txt
pdfdata.json
./tests/reports/output/html/testExecutionReport.html.json
./tests/reports/output/allure-results/*
./tests/reports/output/Evidence/*
./tests/reports/output/html/*
./tests/reports/output/json/*
./tests/reports/output/performance/*